fastapi
uvicorn
pydantic
pdfplumber
python-docx
transformers
datasets
sentence-transformers
torch
spacy
seqeval
rapidfuzz
python-multipart
streamlit
python-dotenv
jinja2
PyPDF2
instructor
groq
flask
flask-cors